.App {
  margin-left:35%;
  margin-top: 100px;
  width: 400px;
  height: 300px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: cornflowerblue;
}
.Todos{
    
    font-size: 40px;
    font-weight: 800;
    color: gray;    
    
}
.MainDiv{
    /* width:60% ; */
    height: 60%;
}
button{
   background-color: rgb(90, 146, 90);
   border-radius: 3px;
   
}
.TodoItem {
    display: flex;  
    width: 100%; 
    justify-content: space-between;
    
}

.Itembtn{

    margin-left: 20px;
}


